@font-face {
    font-family: Teko;
    src: url(../media/fonts/Teko-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: Barlow;
    src: url(../media/fonts/barlow/BarlowCondensed-Light.ttf);
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
  }

  .nav-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 9px 9px 9px 9px;
  }
  .nav-bar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
  }
  
  #hero {
    font-family: Teko;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
  }
  #hero-left {
    width: 50%;
  }
  
  #hero-left h1 {
    margin-top: 20vh;
    font-size: 94px;
    font-weight: 600;
    color: #415161;
  }
  
  #hero-left h2 {
    font-family: Barlow;
    font-size: 17px;
  }
  
  #hero-left button {
    width: 30%;
    margin-top: 2vh;
    font-family: Barlow;
    border-color: #415161;
    background-color: white;
  }
  
  #hero-left i {
    font-size: 1vw;
    color: black;
  }
  
  #hero-right {
    margin-top: 5vh;
    width: 50%;
    overflow: hidden;
  }
  
  #hero-3 {
    width: 100vw;
    height: 50vh;
    display: flex;
    padding: 5vh 11vw;
    background-color: #f5f5f5;
    height: 32vw;
  }
  
  #hero-3content {
      margin-left: 3vw;
    width: 50%;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #415161;
  }
  #hero-3content h1 {
    font-family: Teko;
    font-size: 59px;
    margin-bottom: 3vh;
    font-weight: 600;
  
  }
  #hero-3content p {
    font-family: Barlow;
    font-size: 27px;
    margin-bottom: 2vh;
    line-height: 30.6px;
    font-weight: 500;
    color: #415161;
  }
  #pink-bar{
  padding: 0vw 15vw;
      display: flex;
      align-items: center;
      width: 100%;
      height: 20vh;
      background-color: #f2295b;
  }
  #pink-bar h1{
      font-family: Teko;
      font-size: 49px;
  
      color: white;
  }
  
  #pink-bar button{
  background-color: transparent;
  border-color: #415161;
  font-family: Barlow;
  font-size: 1.2vw;
  border-color: white;
  margin-left: 10vw;
  color: white;
  padding: 2vh 3vw;
  }

  .nav-bar ul li:hover{
    color: red;
  }

  #hero-left {
    width: 50%;
  }